.env
*.log
.DS_Store
*.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
.envrc
.mypy_cache/
pytest_cache/
.idea/

node_modules/
dist/
build/
*.lock
npm-debug.log*

.vscode/

Thumbs.db

*.xcuserstate
*.xcuserdata/
backend/*.db